@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
//@import 'bootstrap/bootstrap';
//@import 'font-awesome/font-awesome';

body {
  padding-top: 85px;
}

#navbarVue {

  /*
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  border-bottom: 1px solid #133783;*/


  background: #349aed;
  background: linear-gradient(145deg, #349aed 50%, #34d8ed 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0);
  transition: box-shadow 200ms ease-in;
  color: #eee;
}


.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000;
  background-color: transparent;
}



.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-default .navbar-toggle {
  border-color: #349aed;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #349aed;
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.logo {
  max-width: 215px;
  float: left;
  padding-top: 15px;
  /*background-image: url("https://duckduckgo.com/assets/logo_homepage_mobile.normal.v107.svg");*/

}

img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;

}









.navbar-toggle:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.avbar-default .navbar-toggle {
  color: rgba(255, 255, 255, 0.75);
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-toggle:hover, .navbar-toggle:focus {
  text-decoration: none;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.navbar-toggle {
  padding: 0.25rem 0.75rem;
  font-size: 1.015625rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 0.25rem;
}
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}
body, input, button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
}

button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  border-radius: 0;
}







.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
  //background-color: rgba(255, 255, 255, 0.36);
}



.navbar-toggle:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-toggle {
  padding: 0.25rem 0.75rem;
  font-size: 1.015625rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 0.25rem;
}


#idspanFW {
  color: #eee;
}

#idsfondi {

  background:linear-gradient(145deg, #349aed 50%, #34d8ed 100%);

  //(90deg, #1D976C 10%, #93F9B9 90%);

}






